---
apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  name: guestbook-app-latest
  namespace: open-cluster-management
spec:
  type: GitHub
  pathname: https://github.com/open-cluster-management/deploy.git
---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: guestbook-app
  namespace: open-cluster-management
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  descriptor: {}
  selector:
    matchExpressions:
    - key: app
      operator: In
      values:
      - guestbook-app
---
apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: guestbook-app
  namespace: open-cluster-management
  labels:
    app: guestbook-app
  annotations:
      apps.open-cluster-management.io/github-path: resources/guestbook
spec:
  channel: open-cluster-management/guestbook-app-latest
  placement:
    placementRef:
      kind: PlacementRule
      name: dev-clusters

